
@font-face
  font-family OpenSans
  font-weight 800
  font-style normal
  font-display block
  src url('./fonts/OpenSans-ExtraBold.woff2') format('woff2'),
      url('./fonts/OpenSans-ExtraBold.woff') format('woff'),
      url('./fonts/OpenSans-ExtraBold.ttf') format('truetype')

@font-face
  font-family OpenSans
  font-weight 800
  font-style italic
  font-display block
  src url('./fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
      url('./fonts/OpenSans-ExtraBoldItalic.woff') format('woff'),
      url('./fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype')

@font-face
  font-family OpenSans
  font-weight 700
  font-style normal
  font-display block
  src url('./fonts/OpenSans-Bold.woff2') format('woff2'),
      url('./fonts/OpenSans-Bold.woff') format('woff'),
      url('./fonts/OpenSans-Bold.ttf') format('truetype')

@font-face
  font-family OpenSans
  font-weight 700
  font-style italic
  font-display block
  src url('./fonts/OpenSans-BoldItalic.woff2') format('woff2'),
      // url('./fonts/OpenSans-BoldItalic.woff') format('woff'),
      url('./fonts/OpenSans-BoldItalic.ttf') format('truetype')

@font-face
  font-family OpenSans
  font-weight 600
  font-style normal
  font-display block
  src url('./fonts/OpenSans-SemiBold.woff2') format('woff2'),
      // url('./fonts/OpenSans-SemiBold.woff') format('woff'),
      url('./fonts/OpenSans-SemiBold.ttf') format('truetype')

@font-face
  font-family OpenSans
  font-weight 600
  font-style italic
  font-display block
  src url('./fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
      // url('./fonts/OpenSans-SemiBoldItalic.woff') format('woff'),
      url('./fonts/OpenSans-SemiBoldItalic.ttf') format('truetype')

@font-face
  font-family OpenSans
  font-weight 500
  font-style normal
  font-display block
  src url('./fonts/OpenSans-Regular.woff2') format('woff2'),
      // url('./fonts/OpenSans-Regular.woff') format('woff'),
      url('./fonts/OpenSans-Regular.ttf') format('truetype')

@font-face
  font-family OpenSans
  font-weight 500
  font-style italic
  font-display block
  src url('./fonts/OpenSans-Italic.woff2') format('woff2'),
      // url('./fonts/OpenSans-Italic.woff') format('woff'),
      url('./fonts/OpenSans-Italic.ttf') format('truetype')

@font-face
  font-family OpenSans
  font-weight 400
  font-style normal
  font-display block
  src url('./fonts/OpenSans-Light.woff2') format('woff2'),
      // url('./fonts/OpenSans-Light.woff') format('woff'),
      url('./fonts/OpenSans-Light.ttf') format('truetype')

@font-face
  font-family OpenSans
  font-weight 400
  font-style italic
  font-display block
  src url('./fonts/OpenSans-LightItalic.woff2') format('woff2'),
      // url('./fonts/OpenSans-LightItalic.woff') format('woff'),
      url('./fonts/OpenSans-LightItalic.ttf') format('truetype')

body {
  font-family OpenSans, Helvetica, Arial, sans-serif
}
