.key
  margin 0.1rem
  padding-top 1rem
  text-align center
  font-size 1.3rem
  font-weight 800
  color #faa
  width 4.8rem
  height 4.8rem
  border-radius 0.6rem
  background-color #222
  border-right 0.1rem solid #555
  border-bottom 0.2rem solid #111
  border-left 0.1rem solid #333
  cursor pointer
  user-select none

.key--active
  margin-top 0.1rem
  background-color #111
  border-right 0.1rem solid #444
  border-bottom 0.1rem solid #000
  border-left 0.1rem solid #222
  text-shadow 0 0 0.6rem #fff
  box-shadow 0 0 1rem rgba(255, 255, 255, 0.3);

.key--esc
  margin-right auto

.key--f4
  margin-right auto

.key--f8
  margin-right auto

.key--backspace
  flex 1

.key--tab
  width 6.8rem

.key--backslash
  flex 1

.key--capslock
  width 7.8rem

.key--enter
  flex 1

.key--right-shift
  width 9.8rem

.key--left-shift
  flex 1

.key--spacebar
  flex 1

.key--up
  margin 0 auto
