.navigation
  display flex
  flex-direction column
  padding 2.4rem
  background #000
  color #fff
  border-right 0.1rem solid #eee
  opacity 1
  animation navigation 600ms linear

.navigation__brand
  font-size 4.8rem
  line-height 7.2rem
  margin-bottom 0.6rem

.navigation__brand-sub-content
  display flex

.navigation__build-status
  margin-right 0.6rem

.navigation__links
  margin-top 3.6rem

@keyframes navigation
  0%
    transform translateX(-35rem)
    opacity 0
  50%
    opacity 0
  100%
    transform translateX(0)
    opacity 1
