.pressed-keys
  display flex
  height 10rem
  flex 0 0 auto

.pressed-keys__key
  font-size 4.8rem
  font-style italic
  font-weight 700
  line-height 10rem
  padding 0 0.8rem
  color #222

@media (max-width: 1124px)
  .pressed-keys
    height 6rem
    margin 1.6rem 0

  .pressed-keys__key
    font-size 3.6rem
    line-height 5rem

@media (max-width: 767px)
  .pressed-keys
    height 3rem
    margin 1.6rem 0

  .pressed-keys__key
    font-size 2.4rem
    line-height 4rem
